@use './../helpers' as *;

.accordion {
	font-family: var(--font-family-secondary);
	background-color: var(--bg, var(--color-gray));
	border-radius: rem(16);
	transition-duration: var(--transition-duration);

	@include hover {
		background-color: var(--color-blue-bg);
	}

	&__details[open] &__summary-description {
		@include hide;
	}

	&__details[open] &__summary-icon {
		&::before,
		&::after {
			background-color: var(--color-black-40);
		}
	}

	&__details[open] &__summary-icon::after {
		@include hide;

		scale: 0;
	}

	&__details[open] + &__body {
		grid-template-rows: 1fr;
		opacity: 1;
	}

	&__summary {
		display: flex;
		align-items: start;
		column-gap: rem(16);
		padding: fluid(28, 24) fluid(32, 24);
		user-select: none;
		cursor: pointer;

		&-description {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			flex: 1;
			align-self: center;
			font-size: rem(16);
			font-weight: 700;
			transition-duration: var(--transition-duration);
		}

		&-icon {
			@include square(fluid(40, 32));

			position: relative;
			flex-shrink: 0;
			margin-left: auto;

			&::before,
			&::after {
				content: '';
				display: block;
				width: 100%;
				height: fluid(6, 4);
				background-color: var(--color-accent);
				border-radius: rem(4);
				transition-duration: var(--transition-duration);
			}

			&::before {
				@include abs-y;
			}

			&::after {
				@include abs-y;

				rotate: 90deg;
			}
		}
	}

	&__body {
		display: grid;
		grid-template-rows: 0fr;
		opacity: 0;
		transition: grid-template-rows var(--transition-duration),
			opacity var(--transition-duration-alt);
	}

	&__content {
		overflow: hidden;

		&-inner {
			display: flex;
			align-items: start;
			column-gap: fluid(48, 24);
			padding: fluid(36, 16) fluid(72, 24) rem(48) fluid(32, 24);

			@include tablet {
				flex-direction: column;
				row-gap: rem(24);
			}
		}
	}

	&__description {
		max-width: rem(640);
	}

	&__extra-description {
		font-weight: 700;
	}
}
