@use './../helpers' as *;

.all-reviews {
	position: relative;

	@include laptop-above {
		&::after {
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			height: rem(320);
			background: linear-gradient(
				180deg,
				rgba(245, 245, 245, 0) 0%,
				#f5f5f5 100%
			);
		}
	}

	&__items {
		display: flex;

		@include laptop-above {
			flex-direction: column;
			row-gap: rem(16);
		}

		@include laptop {
			overflow-x: auto;
			scroll-snap-type: x mandatory;
			-ms-overflow-style: none;
			overflow-x: -moz-scrollbars-none;
			column-gap: rem(16);
			margin-right: calc(var(--container-padding-x) * -1);
			padding-right: var(--container-padding-x);

			&::-webkit-scrollbar {
				height: 0;
			}
		}
	}

	&__items-row {
		@include laptop-above {
			display: grid;
			align-items: stretch;
			column-gap: rem(16);

			&:nth-child(3n + 1) {
				grid-template-columns: repeat(3, 1fr);
				height: rem(560);
			}

			&:nth-child(3n + 2) {
				grid-template-columns: repeat(2, 1fr);
			}

			&:nth-child(3n + 3) {
				display: grid;
				grid-template-columns: 66.25% 1fr;
				gap: rem(16);

				& > .all-reviews__review:nth-child(2) {
					grid-row: 1 / 3;
					grid-column: 2 / 3;
				}
			}
		}

		@include laptop {
			display: contents;
		}
	}

	&__review,
	&__card {
		@include laptop {
			scroll-snap-align: start;
			flex-shrink: 0;
			width: rem(400);
			min-height: rem(320);
		}

		@include mobile-s {
			width: rem(320);
		}
	}

	&__card {
		@include laptop {
			order: -1;
		}
	}
}
