@use './../helpers' as *;

.badge-from {
	rotate: -5deg;
	display: inline-flex;
	align-items: start;
	flex-direction: column;
	row-gap: rem(10);
	padding: rem(24);
	background-color: var(--color-orange-80);
	backdrop-filter: blur(4px);
	border-radius: rem(24);

	&__price {
		font-family: var(--font-family-secondary);
		font-size: fluid(136, 56);
		line-height: 0.86;
		font-weight: 700;
	}
}
