@use './../helpers' as *;

.button {
	@include reset-button;

	display: flex;
	align-items: center;
	column-gap: rem(16);
	padding: rem(16) rem(48);
	font-size: rem(38);
	line-height: 1.25;
	color: var(--color-white);
	background-color: var(--color-accent);
	border-radius: rem(48);

	@include hover {
		background-color: var(--color-secondary);
	}

	&--circle-icon {
		@include square(rem(64));
		@include flex-center;

		padding: 0;
		background-color: var(--color-black-88);
		border-radius: rem(40);

		@include hover {
			background-color: var(--color-white);
			color: var(--color-secondary);
		}

		&.is-white {
			background-color: var(--color-white-80);
			color: var(--color-accent);

			@include hover {
				background-color: var(--color-secondary);
				color: var(--color-white);
			}
		}

		&.is-white-alt {
			background-color: var(--color-white);
			color: var(--color-black);

			@include hover {
				background-color: var(--color-accent);
				color: var(--color-white);
			}
		}

		> svg {
			width: 100%;
			height: 100%;
		}
	}

	&--secondary {
		background-color: var(--color-black-88);
		padding: rem(16) rem(32) rem(16) rem(16);
		font-size: rem(20);

		@include hover {
			background-color: var(--color-white);
			color: var(--color-accent);
		}
	}
}
