@use './../helpers' as *;

.button {
	@include reset-button;

	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: rem(16);
	padding: rem(20) rem(48);
	font-size: rem(32);
	line-height: 1.25;
	color: var(--color-white);
	background-color: var(--color-accent);
	border-radius: rem(48);

	@include hover {
		background-color: var(--color-secondary);
	}

	&--circle-icon {
		@include square(rem(64));
		@include flex-center;

		padding: 0;
		background-color: var(--color-black-88);
		border-radius: rem(40);

		@include hover {
			background-color: var(--color-white);
			color: var(--color-secondary);
		}

		&.is-white {
			background-color: var(--color-white);
			color: var(--color-accent);

			@include hover {
				background-color: var(--color-secondary);
				color: var(--color-white);
			}
		}

		&.is-white-alt {
			background-color: var(--color-white);
			color: var(--color-black);

			@include hover {
				background-color: var(--color-accent);
				color: var(--color-white);
			}
		}

		> svg {
			width: 100%;
			height: 100%;
		}
	}

	&--secondary {
		background-color: var(--color-black-88);
		padding: rem(16);
		font-size: rem(20);

		&:has(span) > span {
			padding-right: rem(16);
		}

		@include hover {
			background-color: var(--color-white);
			color: var(--color-accent);
		}
	}

	&--accent-transparent {
		min-height: rem(80);
		font-size: rem(24);
		color: var(--color-accent);
		background-color: transparent;
		border: var(--border-accent);

		@include hover {
			color: var(--color-white);
			border-color: var(--color-secondary);
		}
	}

	&--green {
		background-color: var(--color-green);

		@include hover {
			background-color: var(--color-green-alt);
			color: var(--color-white);
		}
	}
}
