@use './../helpers' as *;

.combo {
	min-height: rem(800);

	&__gelflex {
		display: flex;
		flex-direction: column;
		padding: fluid(32, 24);
		color: var(--color-white);
		background-color: var(--color-accent);
		border-radius: rem(24);

		&-icon {
			margin-bottom: rem(48);
		}

		&-title,
		&-description {
			margin-bottom: rem(24);
		}

		&-footer {
			margin-top: auto;
			display: flex;
			align-items: center;
			column-gap: rem(24);
		}

		&-button {
			flex-shrink: 0;
			margin-left: auto;
			background-color: var(--color-white);
			color: var(--color-black);

			@include hover {
				background-color: var(--color-black);
				color: var(--color-white);
			}
		}
	}

	&__popular {
		position: relative;
		overflow: hidden;
		background-color: var(--color-blue-bg);
		border: var(--border);
		border-radius: rem(24);

		@include mobile {
			min-height: rem(720);
		}

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			width: 100%;
			height: 100%;
			min-width: rem(742);
			background-image: image-set(var(--bgUrl) 1x, var(--bgUrl2x) 2x);
			background-repeat: no-repeat;
			background-position: top left;
			background-size: contain;
			pointer-events: none;
		}

		&-body {
			position: relative;
			z-index: var(--z-base);
			height: 100%;
			display: flex;
			align-items: start;
			flex-direction: column;
			row-gap: rem(27);
			padding: fluid(32, 24);
		}

		&-label {
			margin-bottom: auto;

			@include mobile-above {
				margin-left: auto;
			}
		}

		&-info {
			display: flex;
			align-items: end;
			justify-content: space-between;
			column-gap: rem(24);
		}

		&-button {
			flex-shrink: 0;
		}
	}
}
