@use './../helpers' as *;

.label {
	display: inline-flex;
	column-gap: rem(16);
	align-items: center;
	justify-content: space-between;
	padding: rem(4) fluid(16, 12);
	min-height: fluid(45, 32);
	font-size: fluid(24, 16);
	font-weight: 700;
	line-height: 1;
	color: var(--color-white);
	background-color: var(--color-black);
	border-radius: rem(16);

	&--has-icon::after {
		content: '';
		width: rem(37);
		height: rem(24);
		background-image: image-set(var(--iconUrl) 1x, var(--iconUrl2x) 2x);
		background-repeat: no-repeat;
		background-size: contain;
	}

	&--secondary {
		min-height: rem(40);
		font-size: rem(20);
	}

	&--big {
		min-height: fluid(80, 64);
		font-size: fluid(40, 20);
		border-radius: rem(24);
	}

	&--green {
		background-color: var(--color-green);
	}

	&--yellow {
		background-color: var(--color-orange);
		color: var(--color-black);
	}

	&--accent {
		background-color: var(--color-accent);
	}

	&--white {
		background-color: var(--color-white);
		color: var(--color-accent);
	}

	&--white-alt {
		background-color: var(--color-white);
		color: var(--color-black);
	}
}
