@use './../helpers' as *;

.materials {
	display: grid;
	padding: fluid(16, 4);
	background-color: var(--color-white);
	border-radius: rem(24);

	@include tablet-above {
		grid-template-columns: 63.75% 1fr;
	}

	&__image {
		border-radius: rem(16);
		object-fit: cover;

		@include tablet {
			width: 100%;
			max-height: rem(400);
		}
	}

	&__body {
		display: flex;
		flex-direction: column;
		align-items: start;
		row-gap: rem(16);
		height: 100%;
		padding: fluid(32, 20);
	}

	&__title {
		max-width: rem(300);
		line-height: 1.5;
	}

	&__info {
		display: flex;
		align-items: end;
		column-gap: rem(34);
		margin-top: auto;

		@include tablet {
			width: 100%;
			justify-content: space-between;
			margin-top: rem(64);
		}
	}

	&__logo-image {
		min-width: 0;
	}

	&__button {
		flex-shrink: 0;
	}
}
