@use './../helpers' as *;

.memory-foam {
	position: relative;
	overflow-x: hidden;
	min-height: fluid(800, 720);
	padding: fluid(32, 24);
	background-color: var(--color-white);
	border-radius: rem(24);

	&::before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		height: 100%;
		background-image: image-set(var(--bgUrl) 1x, var(--bgUrl2x) 2x);
		background-repeat: no-repeat;
		background-position: bottom left;
		background-size: contain;
		pointer-events: none;

		@include tablet {
			top: auto;
			bottom: 0;
		}

		@include mobile-s {
			width: rem(495);
			height: rem(320);
		}
	}

	&__inner {
		position: relative;
		z-index: var(--z-base);
		display: grid;
		align-items: start;
		justify-content: space-between;
		gap: rem(40);

		@include mobile-above {
			grid-template-columns: 1fr rem(216);
		}
	}

	&__body {
		display: flex;
		flex-direction: column;
		row-gap: rem(24);
	}

	&__heading {
		display: flex;
		align-items: center;
		column-gap: rem(24);

		@include tablet {
			flex-direction: column;
			row-gap: rem(16);
			align-items: start;
		}
	}

	&__label {
		@include tablet {
			order: -1;
		}
	}

	&__description {
		max-width: rem(620);
	}

	&__demonstration {
		display: flex;
		flex-direction: column;
		row-gap: rem(16);

		@include mobile {
			flex-direction: row;
			align-items: end;
			column-gap: rem(16);
		}
	}

	&__video {
		height: rem(216);
		object-fit: cover;
		border-radius: rem(16);

		@include mobile {
			width: rem(120);
			height: rem(120);
		}
	}

	&__company {
		display: flex;
		flex-direction: column;
		row-gap: fluid(16, 8);
		padding: fluid(24, 16) fluid(32, 16);
		background-color: var(--color-gray);
		border-radius: rem(16);

		&-title {
			font-family: var(--font-family-secondary);
			font-size: rem(16);
		}
	}

	&__button {
		position: absolute;
		right: fluid(32, 16);
		bottom: fluid(32, 16);
	}
}
