@use './../helpers' as *;

.promo {
	position: relative;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	align-items: start;
	row-gap: fluid(90, 56);
	padding: rem(80) fluid(40, 18);
	background-color: var(--color-blue-bg);
	border-radius: fluid(32, 24);

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		min-width: rem(989);
		height: 100%;
		background-image: image-set(var(--bgUrl) 1x, var(--bgUrl2x) 2x);
		background-repeat: no-repeat;
		background-position: top center;
		background-size: contain;
		pointer-events: none;

		@include tablet {
			left: rem(-50);
		}

		@include mobile {
			left: rem(-120);
		}

		@include mobile-s {
			left: rem(-140);
			min-width: rem(700);
		}
	}

	&__body {
		width: 100%;

		&--align-center {
			text-align: center;
		}
	}

	&__title {
		margin-bottom: rem(32);

		@include tablet {
			line-height: 1.5;
		}

		> strong {
			text-decoration-line: underline;
			text-decoration-style: wavy;
			text-decoration-skip-ink: none;
			text-decoration-color: rgba(29, 158, 233, 0.64);
			text-decoration-thickness: 4%;
			text-underline-offset: 30%;
		}
	}

	&__button {
		margin-inline: auto;
		margin-block: rem(40) rem(32);

		@include mobile-s {
			width: 100%;
		}
	}

	&__description {
		font-size: rem(24);
		color: var(--color-accent);
	}

	&__subtitle {
		font-family: var(--font-family-base);
		font-weight: 500;
		margin-bottom: fluid(32, 24);
	}

	&__advantages {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: rem(8);

		@include mobile {
			overflow-x: scroll;
			scroll-snap-type: x mandatory;
			-ms-overflow-style: none;
			overflow-x: -moz-scrollbars-none;
			flex-wrap: nowrap;
			margin-right: calc(fluid(80, 40) * -1);
			padding-right: fluid(80, 40);
			&::-webkit-scrollbar {
				height: 0;
			}
		}

		&-item {
			@include mobile {
				scroll-snap-align: start;
				white-space: nowrap;
			}
		}
	}
}
