@use './../helpers' as *;

.reviews {
	display: grid;
	grid-template-columns: 66% auto;
	column-gap: rem(16);

	@include mobile {
		display: flex;
		overflow-x: scroll;
		-ms-overflow-style: none;
		overflow-x: -moz-scrollbars-none;
		grid-template-columns: repeat(2, rem(400));
		margin-right: calc(var(--container-padding-x) * -1);

		&::-webkit-scrollbar {
			height: 0;
		}
	}

	&__list {
		display: flex;
		flex-direction: column;
		row-gap: rem(16);

		@include mobile {
			order: 1;
			flex-direction: row;
			column-gap: rem(16);
		}
	}

	&-item {
		@include mobile {
			min-width: rem(320);
		}
	}

	&__card {
		min-height: rem(544);

		@include mobile {
			min-height: rem(320);
			min-width: rem(320);
		}
	}
}
