@use './../helpers' as *;

.review {
	display: flex;
	flex-direction: column;
	align-items: start;
	row-gap: rem(24);
	padding: fluid(32, 24);
	height: 100%;
	background-color: var(--color-white);
	border: var(--border);
	border-radius: rem(24);

	@include mobile {
		min-width: rem(320);
	}

	&--green {
		background-color: var(--color-light-green);
	}

	&--beige {
		background-color: var(--color-beige);
	}

	&--blue {
		color: var(--color-white);
		background-color: var(--color-accent);
	}

	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		column-gap: rem(16);
		width: 100%;
	}

	&__starts {
		@include mobile {
			width: rem(144);
		}
	}

	&__description {
		font-family: var(--font-family-secondary);
		font-size: fluid(24, 20);
	}

	&__author {
		margin-top: auto;
		font-size: rem(20);
		font-style: normal;
		font-weight: 700;
	}
}
