@use './../helpers' as *;

.section {
	--rowGap: #{fluid(70, 48)};

	position: relative;
	display: flex;
	flex-direction: column;
	row-gap: var(--rowGap);

	&:not(:first-child) {
		margin-top: var(--section-spacing-y);
	}

	&:not(:last-child) {
		margin-bottom: var(--section-spacing-y);
	}

	&--custom-spacing {
		@include mobile {
			margin-block: var(--spacingMobileTop) var(--spacingMobileBottom) !important;
		}
	}

	&--inner {
		padding: fluid(80, 24) fluid(96, 16) fluid(120, 80);
		background-color: var(--color-white);
		border-radius: rem(24);
	}

	&__header {
		&:not(:has(.section__header-body)) {
			display: flex;
			align-items: start;
			flex-direction: column;
			row-gap: rem(32);
		}

		&:has(.section__header-body) {
			display: flex;
			align-items: end;
			column-gap: rem(24);

			@include tablet {
				flex-direction: column;
				align-items: start;
				row-gap: rem(40);
			}
		}

		&-body {
			display: flex;
			align-items: start;
			flex-direction: column;
			row-gap: rem(32);
		}

		&-action {
			flex-shrink: 0;
		}
	}

	&__labels {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: rem(8);
	}

	&__title {
		@include mobile {
			line-height: 1.5;
		}

		& > i {
			font-weight: 500;
		}

		& > strong {
			font-style: italic;
		}

		&.has-strong-accent-color > strong {
			color: var(--color-accent);
		}
	}

	&__info {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: rem(48);
		width: 100%;

		@include mobile {
			flex-direction: column;
			align-items: start;
		}
	}

	&__description {
		max-width: rem(824);
		font-size: fluid(24, 20);

		&-alt {
			text-wrap: balance;
		}
	}

	&__body {
		display: flex;
		flex-direction: column;
		row-gap: rem(16);
	}

	&__body.section__body--has-decor-bg::before {
		content: '';
		position: absolute;
		z-index: -1;
		display: block;
		background-image: var(--url);
		background-repeat: no-repeat;
		background-size: contain;
		pointer-events: none;
	}
}
