@use './../helpers' as *;

.section {
	position: relative;
	display: flex;
	flex-direction: column;
	row-gap: fluid(70, 48);

	&:not(:first-child) {
		margin-top: var(--section-spacing-y);
	}

	&:not(:last-child) {
		margin-bottom: var(--section-spacing-y);
	}

	&__header {
		&:not(:has(.section__header-body)) {
			display: flex;
			align-items: start;
			flex-direction: column;
			row-gap: rem(32);
		}

		&:has(.section__header-body) {
			display: flex;
			align-items: end;
			column-gap: rem(24);

			@include tablet {
				flex-direction: column;
				align-items: start;
				row-gap: rem(40);
			}
		}

		&-body {
			display: flex;
			align-items: start;
			flex-direction: column;
			row-gap: rem(32);
		}

		&-action {
			flex-shrink: 0;
		}
	}

	&__title {
		& > i {
			font-weight: 500;
		}

		& > strong {
			font-style: italic;
		}
	}

	&__info {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: rem(48);
		width: 100%;

		@include mobile {
			flex-direction: column;
			align-items: start;
		}
	}

	&__description {
		max-width: rem(824);
		font-size: fluid(24, 20);
	}

	&__body::before {
		content: '';
		position: absolute;
		z-index: -1;
		display: block;
		background-image: var(--url);
		background-repeat: no-repeat;
		background-size: contain;
		pointer-events: none;
	}
}
