@use './../helpers' as *;

.what-makes {
	display: flex;
	flex-direction: column;
	row-gap: rem(16);

	&__combo {
		display: grid;
		gap: rem(16);

		@include mobile-above {
			grid-template-columns: 32.5% 1fr;
		}
	}
}
