@font-face {
	font-family: 'Inter';
	src: url('./../fonts/inter/inter-regular.woff2') format('woff2'),
		url('./../fonts/inter/inter-regular.woff') format('woff');
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: 'Inter';
	src: url('./../fonts/inter/inter-regular-italic.woff2') format('woff2'),
		url('./../fonts/inter/inter-regular-italic.woff') format('woff');
	font-style: italic;
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: 'Inter';
	src: url('./../fonts/inter/inter-medium.woff2') format('woff2'),
		url('./../fonts/inter/inter-medium.woff') format('woff');
	font-style: normal;
	font-weight: 500;
	font-display: swap;
}

@font-face {
	font-family: 'Inter';
	src: url('./../fonts/inter/inter-medium-italic.woff2') format('woff2'),
		url('./../fonts/inter/inter-medium-italic.woff') format('woff');
	font-style: italic;
	font-weight: 500;
	font-display: swap;
}

@font-face {
	font-family: 'Inter';
	src: url('./../fonts/inter/inter-extra-bold.woff2') format('woff2'),
		url('./../fonts/inter/inter-extra-bold.woff') format('woff');
	font-style: normal;
	font-weight: 600;
	font-display: swap;
}

@font-face {
	font-family: 'Inter';
	src: url('./../fonts/inter/inter-extra-bold-italic.woff2') format('woff2'),
		url('./../fonts/inter/inter-extra-bold-italic.woff') format('woff');
	font-style: italic;
	font-weight: 600;
	font-display: swap;
}

@font-face {
	font-family: 'Inter';
	src: url('./../fonts/inter/inter-bold.woff2') format('woff2'),
		url('./../fonts/inter/inter-bold.woff') format('woff');
	font-style: normal;
	font-weight: 700;
	font-display: swap;
}

@font-face {
	font-family: 'Inter';
	src: url('./../fonts/inter/inter-bold-italic.woff2') format('woff2'),
		url('./../fonts/inter/inter-bold-italic.woff') format('woff');
	font-style: italic;
	font-weight: 700;
	font-display: swap;
}

@font-face {
	font-family: 'Raleway';
	src: url('./../fonts/raleway/raleway-medium.woff2') format('woff2'),
		url('./../fonts/raleway/raleway-medium.woff') format('woff');
	font-style: normal;
	font-weight: 500;
	font-display: swap;
}

@font-face {
	font-family: 'Raleway';
	src: url('./../fonts/raleway/raleway-medium-italic.woff2') format('woff2'),
		url('./../fonts/raleway/raleway-medium-italic.woff') format('woff');
	font-style: italic;
	font-weight: 500;
	font-display: swap;
}

@font-face {
	font-family: 'Raleway';
	src: url('./../fonts/raleway/raleway-bold.woff2') format('woff2'),
		url('./../fonts/raleway/raleway-bold.woff') format('woff');
	font-style: normal;
	font-weight: 700;
	font-display: swap;
}

@font-face {
	font-family: 'Raleway';
	src: url('./../fonts/raleway/raleway-bold-italic.woff2') format('woff2'),
		url('./../fonts/raleway/raleway-bold-italic.woff') format('woff');
	font-style: italic;
	font-weight: 700;
	font-display: swap;
}
