@use 'helpers' as *;

.container {
	max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
	width: 100%;
	margin-inline: auto;
	padding-inline: var(--container-padding-x);
}

.visually-hidden {
	@include visually-hidden;
}

.hidden-tablet {
	@include tablet {
		display: none !important;
	}
}

.visible-tablet {
	@include tablet-above {
		display: none !important;
	}
}

.hidden-mobile {
	@include mobile {
		display: none !important;
	}
}

.visible-mobile {
	@include mobile-above {
		display: none !important;
	}
}

.has-align-center {
	text-align: center;
}
