@use 'helpers' as *;

:root {
	--color-black: #181c25;
	--color-black-88: #181c25e0;
	--color-black-96: #181c25f5;
	--color-white: #ffffff;
	--color-white-88: #ffffffcc;
	--color-white-80: #ffffffcc;
	--color-accent: #1d9ee9;
	--color-secondary: #0077ff;
	--color-blue-bg: #e0f3fe;
	--color-orange: #ffbd24;
	--color-orange-80: #ffbd24cc;
	--color-beige: #FFECC0;
	--color-green: #8fd300;
	--color-red-80: #ff1e00cc;
	--color-light-green: #e5f3cc;
	--color-gray: #f5f5f5;

	--border: #{rem(4)} solid var(--color-white);

	--shadow: 0 0 30px 0 rgba(0, 0, 0, 0.15);

	--font-family-base: 'Inter', sans-serif;
	--font-family-secondary: 'Raleway', sans-serif;

	--container-width: #{rem(1280)};
	--container-padding-x: #{rem(16)};

	--z-base: 100;
	--z-header: 200;
	--z-dropdown: 300;
	--z-modal: 400;
	--z-overlay: 500;

	--header-height: #{rem(96)};
	--header-padding-x: #{calc(fluid(48, 8) + var(--container-padding-x))};

	--section-spacing-y: #{fluid(240, 160)};

	--transition-duration: 0.2s;
}
