*,
::before,
::after {
  box-sizing: border-box;
}

:where(ul, ol):where([class]) {
  padding-left: 0;
}

body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
textarea,
select,
button {
  font: inherit;
}

html {
  height: 100%;
  scrollbar-gutter: stable;
}

html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  line-height: 1.5;
}

a:where([class]) {
  display: inline-flex;
}

button,
label {
  cursor: pointer;
}

:where([fill]:not([fill=none], [fill^=url])) {
  fill: currentColor;
}

:where([stroke]:not([stroke=none], [stroke^=url])) {
  stroke: currentColor;
}

svg * {
  transition-property: fill, stroke;
}

:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

details summary::-webkit-details-marker {
  display: none !important;
  opacity: 0;
  visibility: hidden;
  width: 0;
  margin: 0;
  padding: 0;
  font-size: 0px;
}

details summary::marker {
  content: "";
  display: none;
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Inter";
  src: url("./../fonts/inter/inter-regular.woff2") format("woff2"), url("./../fonts/inter/inter-regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("./../fonts/inter/inter-regular-italic.woff2") format("woff2"), url("./../fonts/inter/inter-regular-italic.woff") format("woff");
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("./../fonts/inter/inter-medium.woff2") format("woff2"), url("./../fonts/inter/inter-medium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("./../fonts/inter/inter-medium-italic.woff2") format("woff2"), url("./../fonts/inter/inter-medium-italic.woff") format("woff");
  font-style: italic;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("./../fonts/inter/inter-extra-bold.woff2") format("woff2"), url("./../fonts/inter/inter-extra-bold.woff") format("woff");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("./../fonts/inter/inter-extra-bold-italic.woff2") format("woff2"), url("./../fonts/inter/inter-extra-bold-italic.woff") format("woff");
  font-style: italic;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("./../fonts/inter/inter-bold.woff2") format("woff2"), url("./../fonts/inter/inter-bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("./../fonts/inter/inter-bold-italic.woff2") format("woff2"), url("./../fonts/inter/inter-bold-italic.woff") format("woff");
  font-style: italic;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("./../fonts/raleway/raleway-medium.woff2") format("woff2"), url("./../fonts/raleway/raleway-medium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("./../fonts/raleway/raleway-medium-italic.woff2") format("woff2"), url("./../fonts/raleway/raleway-medium-italic.woff") format("woff");
  font-style: italic;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("./../fonts/raleway/raleway-bold.woff2") format("woff2"), url("./../fonts/raleway/raleway-bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("./../fonts/raleway/raleway-bold-italic.woff2") format("woff2"), url("./../fonts/raleway/raleway-bold-italic.woff") format("woff");
  font-style: italic;
  font-weight: 700;
  font-display: swap;
}
:root {
  --color-black: #181c25;
  --color-black-96: #181c25f5;
  --color-black-40: #181c256e;
  --color-black-88: #181c25e0;
  --color-black-32: #181c2552;
  --color-white: #ffffff;
  --color-white-88: #ffffffcc;
  --color-white-80: #ffffffcc;
  --color-accent: #1d9ee9;
  --color-secondary: #0077ff;
  --color-blue-bg: #e0f3fe;
  --color-orange: #ffbd24;
  --color-orange-80: #ffbd24cc;
  --color-beige: #ffecc0;
  --color-green: #8fd300;
  --color-red-80: #ff1e00cc;
  --color-light-green: #e5f3cc;
  --color-gray: #f5f5f5;
  --border: 0.25rem solid var(--color-white);
  --shadow: 0 0 30px 0 rgba(0, 0, 0, 0.15);
  --font-family-base: "Inter", sans-serif;
  --font-family-secondary: "Raleway", sans-serif;
  --container-width: 80rem;
  --container-padding-x: 1rem;
  --z-base: 100;
  --z-header: 200;
  --z-dropdown: 300;
  --z-modal: 400;
  --z-overlay: 500;
  --header-height: 6rem;
  --header-padding-x: calc(clamp(0.5rem, -0.4285714286rem + 3.8095238095vw, 3rem) + var(--container-padding-x));
  --section-spacing-y: clamp(10rem, 8.1428571429rem + 7.619047619vw, 15rem);
  --transition-duration: 0.2s;
  --transition-duration-alt: 0.8s;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  width: 100%;
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (width <= 63.99875rem) {
  .hidden-tablet {
    display: none !important;
  }
}

@media (width > 63.99875rem) {
  .visible-tablet {
    display: none !important;
  }
}

@media (width <= 47.99875rem) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (width > 47.99875rem) {
  .visible-mobile {
    display: none !important;
  }
}

.has-align-center {
  text-align: center;
}

html,
body {
  overflow-x: clip;
}

html.is-lock {
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base);
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.6;
  color: var(--color-black);
  background-color: var(--color-gray);
}

main {
  flex-grow: 1;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: var(--font-family-secondary);
  font-weight: 700;
  line-height: 1.1;
}

h1,
.h1 {
  font-size: clamp(2rem, 0.8857142857rem + 4.5714285714vw, 5rem);
}

h2,
.h2 {
  font-size: clamp(2rem, 1.4428571429rem + 2.2857142857vw, 3.5rem);
}

h3,
.h3 {
  font-size: clamp(1.5rem, 1.3142857143rem + 0.7619047619vw, 2rem);
}

h4,
.h4 {
  font-size: clamp(1.375rem, 1.2357142857rem + 0.5714285714vw, 1.75rem);
}

h5,
.h5 {
  font-size: 1.25rem;
}

h6,
.h6 {
  font-size: 1.125rem;
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;
}
@media (any-hover: hover) {
  a:hover {
    color: var(--color-accent);
  }
}
@media (any-hover: none) {
  a:active {
    color: var(--color-accent);
  }
}
a[class] {
  text-decoration: none;
}

:focus-visible {
  outline: 0.125rem dashed var(--color-secondary);
  outline-offset: 0.25rem;
  transition-duration: 0s !important;
}

a[aria-label],
button[aria-label] {
  position: relative;
}
a[aria-label]::before,
button[aria-label]::before {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 2.75rem;
  height: 2.75rem;
  content: "";
}

.description > *:first-child {
  margin-top: 0;
}
.description > *:last-child {
  margin-bottom: 0;
}
.description > :is(h1, h2, h3, h4, h5, h6, ul, ol, dl) {
  margin-block: 1.6875rem;
}
.description > p > strong {
  font-weight: inherit;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-skip-ink: none;
  text-decoration-color: rgba(29, 158, 233, 0.64);
  text-decoration-thickness: 10%;
  text-underline-offset: 34%;
}

.button {
  display: block;
  padding: 0;
  color: inherit;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  column-gap: 1rem;
  padding: 1rem 3rem;
  font-size: 2.375rem;
  line-height: 1.25;
  color: var(--color-white);
  background-color: var(--color-accent);
  border-radius: 3rem;
}
@media (any-hover: hover) {
  .button:hover {
    background-color: var(--color-secondary);
  }
}
@media (any-hover: none) {
  .button:active {
    background-color: var(--color-secondary);
  }
}
.button--circle-icon {
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background-color: var(--color-black-88);
  border-radius: 2.5rem;
}
@media (any-hover: hover) {
  .button--circle-icon:hover {
    background-color: var(--color-white);
    color: var(--color-secondary);
  }
}
@media (any-hover: none) {
  .button--circle-icon:active {
    background-color: var(--color-white);
    color: var(--color-secondary);
  }
}
.button--circle-icon.is-white {
  background-color: var(--color-white-80);
  color: var(--color-accent);
}
@media (any-hover: hover) {
  .button--circle-icon.is-white:hover {
    background-color: var(--color-secondary);
    color: var(--color-white);
  }
}
@media (any-hover: none) {
  .button--circle-icon.is-white:active {
    background-color: var(--color-secondary);
    color: var(--color-white);
  }
}
.button--circle-icon.is-white-alt {
  background-color: var(--color-white);
  color: var(--color-black);
}
@media (any-hover: hover) {
  .button--circle-icon.is-white-alt:hover {
    background-color: var(--color-accent);
    color: var(--color-white);
  }
}
@media (any-hover: none) {
  .button--circle-icon.is-white-alt:active {
    background-color: var(--color-accent);
    color: var(--color-white);
  }
}
.button--circle-icon > svg {
  width: 100%;
  height: 100%;
}
.button--secondary {
  background-color: var(--color-black-88);
  padding: 1rem 2rem 1rem 1rem;
  font-size: 1.25rem;
}
@media (any-hover: hover) {
  .button--secondary:hover {
    background-color: var(--color-white);
    color: var(--color-accent);
  }
}
@media (any-hover: none) {
  .button--secondary:active {
    background-color: var(--color-white);
    color: var(--color-accent);
  }
}

.header {
  padding-inline: calc(var(--header-padding-x) + 0.25rem);
  position: absolute;
  top: clamp(0.375rem, -0.0660714286rem + 1.8095238095vw, 1.5625rem);
  left: 0;
  right: 0;
  z-index: var(--z-base);
  height: var(--header-height);
}
@media (width <= 63.99875rem) {
  .header {
    padding-inline: var(--header-padding-x);
  }
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 1.5rem;
}
.header__menu-button {
  display: block;
  padding: 0;
  color: inherit;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  column-gap: 0.625rem;
  padding: 0.5rem 0.75rem;
  font-size: 1.25rem;
  font-weight: 500;
  background-color: var(--color-white-80);
  border-radius: 1rem;
}
.header__menu-button::before {
  width: 1.5rem;
  height: 1.5rem;
  content: "";
  display: block;
  background-image: url("./../icons/lines.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.label {
  display: flex;
  column-gap: 1rem;
  align-items: center;
  justify-content: space-between;
  padding: 0.25rem clamp(0.75rem, 0.6571428571rem + 0.380952381vw, 1rem);
  min-height: clamp(2rem, 1.6982142857rem + 1.2380952381vw, 2.8125rem);
  font-size: clamp(1rem, 0.8142857143rem + 0.7619047619vw, 1.5rem);
  font-weight: 700;
  line-height: 1;
  color: var(--color-white);
  background-color: var(--color-black);
  border-radius: 1rem;
}
.label--has-icon::after {
  content: "";
  width: 2.3125rem;
  height: 1.5rem;
  background-image: image-set(var(--iconUrl) 1x, var(--iconUrl2x) 2x);
  background-repeat: no-repeat;
  background-size: contain;
}
.label--secondary {
  min-height: 2.5rem;
  font-size: 1.25rem;
}
.label--big {
  min-height: clamp(2.5rem, 1.5714285714rem + 3.8095238095vw, 5rem);
  font-size: clamp(1.25rem, 0.7857142857rem + 1.9047619048vw, 2.5rem);
}
.label--green {
  background-color: var(--color-green);
}
.label--yellow {
  background-color: var(--color-orange);
  color: var(--color-black);
}
.label--accent {
  background-color: var(--color-accent);
}
.label--white {
  background-color: var(--color-white);
  color: var(--color-accent);
}
.label--white-alt {
  background-color: var(--color-white);
  color: var(--color-black);
}

.badge-from {
  rotate: -5deg;
  display: inline-flex;
  align-items: start;
  flex-direction: column;
  row-gap: 0.625rem;
  padding: 1.5rem;
  background-color: var(--color-orange-80);
  backdrop-filter: blur(4px);
  border-radius: 1.5rem;
}
.badge-from__price {
  font-family: var(--font-family-secondary);
  font-size: clamp(3.5rem, 1.6428571429rem + 7.619047619vw, 8.5rem);
  line-height: 0.86;
  font-weight: 700;
}

.slider-arrows {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}
.slider-arrows__button {
  width: 6rem;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider-arrows__button > svg {
  width: 2rem;
  height: 2rem;
}

.action-info {
  display: flex;
  align-items: end;
  column-gap: clamp(1.5rem, 1.3142857143rem + 0.7619047619vw, 2rem);
}
.action-info__column {
  display: flex;
  align-items: end;
  flex-direction: column;
  row-gap: 2rem;
}
@media (width <= 63.99875rem) {
  .action-info__column {
    display: contents;
  }
}
.action-info__image:nth-child(2) {
  width: 6.25rem;
}
.action-info__button {
  display: block;
  padding: 0;
  color: inherit;
  background-color: transparent;
  border: none;
  display: flex;
  width: fit-content;
  color: var(--color-accent);
}
@media (width <= 63.99875rem) {
  .action-info__button {
    order: 1;
    align-self: flex-start;
  }
}

.section {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: clamp(3rem, 2.4892857143rem + 2.0952380952vw, 4.375rem);
}
.section:not(:first-child) {
  margin-top: var(--section-spacing-y);
}
.section:not(:last-child) {
  margin-bottom: var(--section-spacing-y);
}
.section--inner {
  padding: clamp(1.5rem, 0.2rem + 5.3333333333vw, 5rem) clamp(1rem, -0.8571428571rem + 7.619047619vw, 6rem) clamp(5rem, 4.0714285714rem + 3.8095238095vw, 7.5rem);
  background-color: var(--color-white);
  border-radius: 1.5rem;
}
.section__header:not(:has(.section__header-body)) {
  display: flex;
  align-items: start;
  flex-direction: column;
  row-gap: 2rem;
}
.section__header:has(.section__header-body) {
  display: flex;
  align-items: end;
  column-gap: 1.5rem;
}
@media (width <= 63.99875rem) {
  .section__header:has(.section__header-body) {
    flex-direction: column;
    align-items: start;
    row-gap: 2.5rem;
  }
}
.section__header-body {
  display: flex;
  align-items: start;
  flex-direction: column;
  row-gap: 2rem;
}
.section__header-action {
  flex-shrink: 0;
}
.section__labels {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
}
.section__title > i {
  font-weight: 500;
}
.section__title > strong {
  font-style: italic;
}
.section__title.has-strong-accent-color > strong {
  color: var(--color-accent);
}
.section__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  width: 100%;
}
@media (width <= 47.99875rem) {
  .section__info {
    flex-direction: column;
    align-items: start;
  }
}
.section__description {
  max-width: 51.5rem;
  font-size: clamp(1.25rem, 1.1571428571rem + 0.380952381vw, 1.5rem);
}
.section__description-alt {
  text-wrap: balance;
}
.section__body {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.section__body.section__body--has-decor-bg::before {
  content: "";
  position: absolute;
  z-index: -1;
  display: block;
  background-image: var(--url);
  background-repeat: no-repeat;
  background-size: contain;
  pointer-events: none;
}

.accordion {
  font-family: var(--font-family-secondary);
  background-color: var(--bg, var(--color-gray));
  border-radius: 1rem;
  transition-duration: var(--transition-duration);
}
@media (any-hover: hover) {
  .accordion:hover {
    background-color: var(--color-blue-bg);
  }
}
@media (any-hover: none) {
  .accordion:active {
    background-color: var(--color-blue-bg);
  }
}
.accordion__details[open] .accordion__summary-description {
  opacity: 0;
  visibility: hidden;
}
.accordion__details[open] .accordion__summary-icon::before, .accordion__details[open] .accordion__summary-icon::after {
  background-color: var(--color-black-40);
}
.accordion__details[open] .accordion__summary-icon::after {
  opacity: 0;
  visibility: hidden;
  scale: 0;
}
.accordion__details[open] + .accordion__body {
  grid-template-rows: 1fr;
  opacity: 1;
}
.accordion__summary {
  display: flex;
  align-items: start;
  column-gap: 1rem;
  padding: clamp(1.5rem, 1.4071428571rem + 0.380952381vw, 1.75rem) clamp(1.5rem, 1.3142857143rem + 0.7619047619vw, 2rem);
  user-select: none;
  cursor: pointer;
}
.accordion__summary-description {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 1;
  align-self: center;
  font-size: 1rem;
  font-weight: 700;
  transition-duration: var(--transition-duration);
}
.accordion__summary-icon {
  width: clamp(2rem, 1.8142857143rem + 0.7619047619vw, 2.5rem);
  height: clamp(2rem, 1.8142857143rem + 0.7619047619vw, 2.5rem);
  position: relative;
  flex-shrink: 0;
  margin-left: auto;
}
.accordion__summary-icon::before, .accordion__summary-icon::after {
  content: "";
  display: block;
  width: 100%;
  height: clamp(0.25rem, 0.2035714286rem + 0.1904761905vw, 0.375rem);
  background-color: var(--color-accent);
  border-radius: 0.25rem;
  transition-duration: var(--transition-duration);
}
.accordion__summary-icon::before {
  position: absolute;
  top: 50%;
  translate: 0 -50%;
}
.accordion__summary-icon::after {
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  rotate: 90deg;
}
.accordion__body {
  display: grid;
  grid-template-rows: 0fr;
  opacity: 0;
  transition: grid-template-rows var(--transition-duration), opacity var(--transition-duration-alt);
}
.accordion__content {
  overflow: hidden;
}
.accordion__content-inner {
  display: flex;
  align-items: start;
  column-gap: clamp(1.5rem, 0.9428571429rem + 2.2857142857vw, 3rem);
  padding: clamp(1rem, 0.5357142857rem + 1.9047619048vw, 2.25rem) clamp(1.5rem, 0.3857142857rem + 4.5714285714vw, 4.5rem) 3rem clamp(1.5rem, 1.3142857143rem + 0.7619047619vw, 2rem);
}
@media (width <= 63.99875rem) {
  .accordion__content-inner {
    flex-direction: column;
    row-gap: 1.5rem;
  }
}
.accordion__description {
  max-width: 40rem;
}
.accordion__extra-description {
  font-weight: 700;
}

@media (width <= 63.99875rem) {
  .hero {
    padding-inline: 0;
    background-color: var(--color-blue-bg);
  }
}
.hero__inner {
  padding-block: var(--header-height) clamp(6rem, 4.1428571429rem + 7.619047619vw, 11rem);
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}
@media (width > 63.99875rem) {
  .hero__inner {
    background-color: var(--color-blue-bg);
    border-inline: var(--border);
    border-bottom: var(--border);
  }
}
@media (width <= 63.99875rem) {
  .hero__inner {
    padding-top: calc(var(--header-height) + 4rem);
  }
}
.hero__header, .hero__action {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero__header {
  row-gap: 3rem;
  padding-inline: var(--header-padding-x);
}
@media (width <= 47.99875rem) {
  .hero__header {
    margin-bottom: 2rem;
  }
}
.hero__title {
  line-height: 1.35;
  text-align: center;
}
.hero__title > strong {
  font-weight: inherit;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-skip-ink: none;
  text-decoration-color: rgba(29, 158, 233, 0.64);
  text-decoration-thickness: 4%;
  text-underline-offset: 16%;
}
.hero__action {
  row-gap: 2rem;
}
.hero__description {
  font-size: 1.5rem;
  line-height: 1.3;
  color: var(--color-accent);
}
.hero__body {
  display: flex;
  flex-direction: column;
  row-gap: clamp(1.5rem, 0.6642857143rem + 3.4285714286vw, 3.75rem);
}
.hero__body-info {
  padding-inline: var(--header-padding-x);
  font-size: clamp(1rem, 0.9071428571rem + 0.380952381vw, 1.25rem);
  line-height: 2.2;
  text-align: center;
  text-wrap: balance;
}
.hero__body-info > svg {
  vertical-align: middle;
}
.hero__badge-from {
  position: absolute;
  left: 0;
  bottom: 0;
}
@media (width <= 63.99875rem) {
  .hero__badge-from {
    top: 10%;
    bottom: auto;
    rotate: 0deg;
  }
}
@media (width <= 47.99875rem) {
  .hero__badge-from {
    left: calc(var(--header-padding-x) * -1.5);
  }
}
.hero__about-product {
  position: relative;
}
.hero__about-product-content {
  position: absolute;
  left: var(--header-padding-x);
  right: var(--header-padding-x);
  top: 0;
  bottom: 0;
}
.hero__about-product-button {
  width: clamp(3.5rem, 2.9428571429rem + 2.2857142857vw, 5rem);
  height: clamp(3.5rem, 2.9428571429rem + 2.2857142857vw, 5rem);
  position: absolute;
}
.hero__about-product-button:nth-child(1) {
  top: 49%;
  right: 57%;
}
@media (width <= 63.99875rem) {
  .hero__about-product-button:nth-child(1) {
    top: 45%;
    right: 38%;
  }
}
.hero__about-product-button:nth-child(2) {
  bottom: 5%;
  right: 37%;
}
@media (width <= 63.99875rem) {
  .hero__about-product-button:nth-child(2) {
    right: 65%;
  }
}
.hero__about-product-button:nth-child(3) {
  top: 20%;
  right: 22%;
}
@media (width <= 63.99875rem) {
  .hero__about-product-button:nth-child(3) {
    top: 12%;
    right: 11%;
  }
}
.hero__about-product-button:nth-child(4) {
  top: 57%;
  right: 7%;
}
@media (width <= 63.99875rem) {
  .hero__about-product-button:nth-child(4) {
    top: 57%;
    right: 11%;
  }
}
.hero__about-product-image {
  height: 20rem;
}
@media (width <= 30.06125rem) {
  .hero__about-product-image {
    height: 15rem;
  }
}

.what-topper::before {
  --url: url("./../images/what-topper/decor-circle-bg.svg");
  top: 0;
  right: 0;
  width: 41.5rem;
  height: 60rem;
  background-image: url("./../images/what-topper/decor-circle-bg.svg");
}
@media (width <= 47.99875rem) {
  .what-topper::before {
    top: 5.5rem;
  }
}
.what-topper__slider::part(container) {
  overflow: visible;
}
.what-topper__media {
  width: 100%;
  min-height: 20rem;
  object-fit: cover;
  border: var(--border);
  border-radius: 1rem;
}

.how-work {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.how-work::before {
  width: clamp(15rem, 9.4285714286rem + 22.8571428571vw, 30rem);
  height: clamp(15rem, 9.4285714286rem + 22.8571428571vw, 30rem);
  top: -7.5rem;
  right: 0;
  background-image: var(--bgDecorUrl);
}
@media (width <= 63.99875rem) {
  .how-work::before {
    top: -3.75rem;
  }
}
@media (width <= 47.99875rem) {
  .how-work::before {
    top: -2rem;
  }
}
.how-work__softens {
  display: grid;
  grid-template-columns: auto 33.4%;
  column-gap: 1rem;
}
@media (width <= 47.99875rem) {
  .how-work__softens {
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none;
    overflow-x: -moz-scrollbars-none;
    grid-template-columns: repeat(2, 25rem);
    margin-right: calc(var(--container-padding-x) * -1);
    padding-right: var(--container-padding-x);
  }
  .how-work__softens::-webkit-scrollbar {
    height: 0;
  }
}
@media (width <= 30.06125rem) {
  .how-work__softens {
    grid-template-columns: repeat(2, 20rem);
  }
}
.how-work__softens .card {
  scroll-snap-align: start;
}
.how-work__technology-card {
  --bodyMaxWidth: 19.75rem;
  min-height: 37.5rem;
  background-color: var(--color-blue-bg);
}
@media (width <= 47.99875rem) {
  .how-work__technology-card {
    min-height: 40rem;
  }
}
.how-work__technology-card::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: image-set(var(--bgUrl) 1x, var(--bgUrl2x) 2x);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center right;
  pointer-events: none;
}
@media (width <= 63.99875rem) {
  .how-work__technology-card::before {
    top: 6rem;
    height: 25rem;
  }
}
.how-work__eases {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
@media (width <= 47.99875rem) {
  .how-work__eases {
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none;
    overflow-x: -moz-scrollbars-none;
    grid-template-columns: repeat(2, 25rem);
    margin-right: calc(var(--container-padding-x) * -1);
    padding-right: var(--container-padding-x);
  }
  .how-work__eases::-webkit-scrollbar {
    height: 0;
  }
}
@media (width <= 30.06125rem) {
  .how-work__eases {
    grid-template-columns: repeat(2, 20rem);
  }
}
.how-work__eases-card {
  min-height: 20rem;
}
@media (width <= 47.99875rem) {
  .how-work__eases-card {
    scroll-snap-align: start;
  }
}
.how-work__eases-card--health-improvement {
  background-color: var(--color-light-green);
}
.how-work__eases-card--levels {
  background-color: var(--color-white);
}

.comfort {
  display: grid;
  column-gap: 1rem;
  padding: 1rem;
  background-color: var(--color-white);
  border-radius: 1.5rem;
}
@media (width > 63.99875rem) {
  .comfort {
    grid-template-columns: 33.4% auto;
  }
}
@media (width <= 63.99875rem) {
  .comfort {
    row-gap: 2.75rem;
  }
}
.comfort__body {
  display: flex;
  align-items: start;
  flex-direction: column;
  row-gap: 1.5rem;
  padding: clamp(0.25rem, -0.0285714286rem + 1.1428571429vw, 1rem);
}
.comfort__label {
  background-color: var(--color-green);
}
.comfort__description {
  font-family: var(--font-family-secondary);
  font-size: clamp(1.5rem, 1.3142857143rem + 0.7619047619vw, 2rem);
  font-weight: 700;
  line-height: 1.5;
}
.comfort__company {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  margin-top: auto;
}
.comfort__company-title {
  font-family: var(--font-family-secondary);
  font-size: 1.25rem;
}
.comfort__card {
  --borderRadius: 1rem;
  aspect-ratio: 816/616;
}
@media (width <= 63.99875rem) {
  .comfort__card {
    width: 100%;
    max-height: 25rem;
  }
}

.card {
  --sizeButton: fluid(100, 80);
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-radius: var(--borderRadius, 1.5rem);
}
.card:not(.card--not-border) {
  border: var(--border);
}
.card.has-overlay::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(180deg, rgba(24, 28, 37, 0) 50%, #181c25 100%), url() transparent 50%/cover no-repeat;
}
.card__media {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card__info-box {
  position: absolute;
  z-index: var(--z-base);
  top: 1rem;
  left: 1rem;
  right: 1rem;
  width: var(--infoBoxMaxWidth, fit-content);
  padding: clamp(1rem, 0.8142857143rem + 0.7619047619vw, 1.5rem);
  background-color: var(--color-white-88);
  backdrop-filter: blur(8px);
  border-radius: 1rem;
}
@media (width <= 30.06125rem) {
  .card__info-box {
    max-width: 19.125rem;
  }
}
.card__info-box-label {
  display: inline-flex;
}
.card__info-box-label:not(:last-child) {
  margin-bottom: 2rem;
}
.card__info-box-description {
  text-wrap: balance;
}
.card__subtitle {
  font-family: var(--font-family-secondary);
  font-size: clamp(1.5rem, 1.3142857143rem + 0.7619047619vw, 2rem);
  font-weight: 700;
  line-height: 1.5;
}
.card__subtitle:not(:last-child) {
  margin-bottom: 0.5rem;
}
.card__vertical-label {
  position: absolute;
  top: clamp(1.5rem, 1.3142857143rem + 0.7619047619vw, 2rem);
  right: clamp(1.5rem, 1.3142857143rem + 0.7619047619vw, 2rem);
  min-width: clamp(2rem, 1.6982142857rem + 1.2380952381vw, 2.8125rem);
  padding: clamp(0.75rem, 0.6571428571rem + 0.380952381vw, 1rem) 0.125rem;
  writing-mode: sideways-lr;
  text-orientation: mixed;
  background-color: var(--color-green);
}
.card__button {
  flex-shrink: 0;
}
.card__button--abs {
  position: absolute;
  right: clamp(1.5rem, 1.3142857143rem + 0.7619047619vw, 2rem);
  bottom: clamp(1.5rem, 1.3142857143rem + 0.7619047619vw, 2rem);
  z-index: var(--z-base);
}
.card__controls {
  position: absolute;
  left: clamp(1.5rem, 1.3142857143rem + 0.7619047619vw, 2rem);
  right: clamp(1.5rem, 1.3142857143rem + 0.7619047619vw, 2rem);
  bottom: clamp(1.5rem, 1.3142857143rem + 0.7619047619vw, 2rem);
  display: flex;
  align-items: center;
  column-gap: clamp(1rem, 0.7446428571rem + 1.0476190476vw, 1.6875rem);
}
.card__controls-button {
  width: clamp(5rem, 4.5357142857rem + 1.9047619048vw, 6.25rem);
  height: clamp(5rem, 4.5357142857rem + 1.9047619048vw, 6.25rem);
  flex-shrink: 0;
  background-color: var(--color-red-80);
  border-radius: 50%;
}
.card__controls-button > svg {
  width: clamp(1.6875rem, 1.5482142857rem + 0.5714285714vw, 2.0625rem);
  height: clamp(1.9375rem, 1.775rem + 0.6666666667vw, 2.375rem);
}
.card__controls-title {
  font-family: var(--font-family-base);
  font-size: clamp(1.25rem, 1.1571428571rem + 0.380952381vw, 1.5rem);
  line-height: 1.33;
  word-break: break-all;
  color: var(--color-white);
}
.card__body {
  --padding: clamp(1.5rem, 1.3142857143rem + 0.7619047619vw, 2rem);
  position: relative;
  z-index: var(--z-base);
  flex-grow: 1;
  display: flex;
  align-items: start;
  flex-direction: column;
  row-gap: 1rem;
  padding: var(--padding);
}
.card__body-title {
  max-width: calc(var(--bodyMaxWidth) + var(--padding) * 2);
  line-height: 1.5;
  word-break: break-word;
}
.card__body-title:not(:first-child) {
  margin-top: auto;
}
@media (width <= 30.06125rem) {
  .card__body-title {
    max-width: 16.125rem;
  }
}
.card__body-reaction {
  font-size: 7.5rem;
  line-height: 1;
}
.card__body-reaction + .card__body-title {
  margin-top: 0.6875rem;
}
.card__body-tooltip {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  font-size: 1rem;
}
.card__body-tooltip::after {
  content: "";
  display: block;
  width: 1rem;
  height: 1rem;
  background-color: var(--color-accent);
  border-radius: 50%;
}
.card__body-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 1.5rem;
  width: 100%;
  margin-top: auto;
}
.card__body-button--right {
  margin-left: auto;
}
.card__body-decor-line {
  max-width: 24.75rem;
  width: 100%;
  height: 2rem;
  background-color: var(--color-orange);
  border-radius: 1.5rem;
}

.what-makes__combo {
  display: grid;
  gap: 1rem;
}
@media (width > 47.99875rem) {
  .what-makes__combo {
    grid-template-columns: 32.5% 1fr;
  }
}

.reviews {
  display: grid;
  grid-template-columns: 66% auto;
  column-gap: 1rem;
}
.reviews--reverse {
  grid-template-columns: auto 66%;
}
@media (width <= 47.99875rem) {
  .reviews {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none;
    overflow-x: -moz-scrollbars-none;
    grid-template-columns: repeat(2, 25rem);
    margin-right: calc(var(--container-padding-x) * -1);
    padding-right: var(--container-padding-x);
  }
  .reviews::-webkit-scrollbar {
    height: 0;
  }
}
.reviews__list {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
@media (width <= 47.99875rem) {
  .reviews__list {
    order: 1;
    flex-direction: row;
    column-gap: 1rem;
  }
}
.reviews__card {
  min-height: 34rem;
}
@media (width <= 47.99875rem) {
  .reviews__item, .reviews__card {
    scroll-snap-align: start;
    min-width: 20rem;
    min-height: 20rem;
  }
}

.review {
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 1.5rem;
  padding: clamp(1.5rem, 1.3142857143rem + 0.7619047619vw, 2rem);
  height: 100%;
  background-color: var(--color-white);
  border: var(--border);
  border-radius: 1.5rem;
}
@media (width <= 47.99875rem) {
  .review {
    min-width: 20rem;
  }
}
.review--green {
  background-color: var(--color-light-green);
}
.review--beige {
  background-color: var(--color-beige);
}
.review--blue {
  color: var(--color-white);
  background-color: var(--color-accent);
}
.review__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 1rem;
  width: 100%;
}
@media (width <= 47.99875rem) {
  .review__starts {
    width: 9rem;
  }
}
.review__description {
  font-family: var(--font-family-secondary);
  font-size: clamp(1.25rem, 1.1571428571rem + 0.380952381vw, 1.5rem);
}
.review__author {
  margin-top: auto;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
}

.memory-foam {
  position: relative;
  overflow-x: hidden;
  min-height: clamp(45rem, 43.1428571429rem + 7.619047619vw, 50rem);
  padding: clamp(1.5rem, 1.3142857143rem + 0.7619047619vw, 2rem);
  background-color: var(--color-white);
  border-radius: 1.5rem;
}
.memory-foam::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: image-set(var(--bgUrl) 1x, var(--bgUrl2x) 2x);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: contain;
  pointer-events: none;
}
@media (width <= 63.99875rem) {
  .memory-foam::before {
    top: auto;
    bottom: 0;
  }
}
@media (width <= 30.06125rem) {
  .memory-foam::before {
    width: 30.9375rem;
    height: 20rem;
  }
}
.memory-foam__inner {
  position: relative;
  z-index: var(--z-base);
  display: grid;
  align-items: start;
  justify-content: space-between;
  gap: 2.5rem;
}
@media (width > 47.99875rem) {
  .memory-foam__inner {
    grid-template-columns: 1fr 13.5rem;
  }
}
.memory-foam__body {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}
.memory-foam__heading {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
}
@media (width <= 63.99875rem) {
  .memory-foam__heading {
    flex-direction: column;
    row-gap: 1rem;
    align-items: start;
  }
}
@media (width <= 63.99875rem) {
  .memory-foam__label {
    order: -1;
  }
}
.memory-foam__description {
  max-width: 38.75rem;
}
.memory-foam__demonstration {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
@media (width <= 47.99875rem) {
  .memory-foam__demonstration {
    flex-direction: row;
    align-items: end;
    column-gap: 1rem;
  }
}
.memory-foam__video {
  height: 13.5rem;
  object-fit: cover;
  border-radius: 1rem;
}
@media (width <= 47.99875rem) {
  .memory-foam__video {
    width: 7.5rem;
    height: 7.5rem;
  }
}
.memory-foam__company {
  display: flex;
  flex-direction: column;
  row-gap: clamp(0.5rem, 0.3142857143rem + 0.7619047619vw, 1rem);
  padding: clamp(1rem, 0.8142857143rem + 0.7619047619vw, 1.5rem) clamp(1rem, 0.6285714286rem + 1.5238095238vw, 2rem);
  background-color: var(--color-gray);
  border-radius: 1rem;
}
.memory-foam__company-title {
  font-family: var(--font-family-secondary);
  font-size: 1rem;
}
.memory-foam__button {
  position: absolute;
  right: clamp(1rem, 0.6285714286rem + 1.5238095238vw, 2rem);
  bottom: clamp(1rem, 0.6285714286rem + 1.5238095238vw, 2rem);
}

.combo {
  min-height: 50rem;
}
.combo__gelflex {
  display: flex;
  flex-direction: column;
  padding: clamp(1.5rem, 1.3142857143rem + 0.7619047619vw, 2rem);
  color: var(--color-white);
  background-color: var(--color-accent);
  border-radius: 1.5rem;
}
.combo__gelflex-icon {
  margin-bottom: 3rem;
}
.combo__gelflex-title, .combo__gelflex-description {
  margin-bottom: 1.5rem;
}
.combo__gelflex-button {
  margin-top: auto;
  margin-left: auto;
  background-color: var(--color-white);
  color: var(--color-black);
}
@media (any-hover: hover) {
  .combo__gelflex-button:hover {
    background-color: var(--color-black);
    color: var(--color-white);
  }
}
@media (any-hover: none) {
  .combo__gelflex-button:active {
    background-color: var(--color-black);
    color: var(--color-white);
  }
}
.combo__popular {
  position: relative;
  overflow: hidden;
  background-color: var(--color-blue-bg);
  border: var(--border);
  border-radius: 1.5rem;
}
@media (width <= 47.99875rem) {
  .combo__popular {
    min-height: 45rem;
  }
}
.combo__popular::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  min-width: 46.375rem;
  background-image: image-set(var(--bgUrl) 1x, var(--bgUrl2x) 2x);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;
  pointer-events: none;
}
.combo__popular-body {
  position: relative;
  z-index: var(--z-base);
  height: 100%;
  display: flex;
  align-items: start;
  flex-direction: column;
  row-gap: 1.6875rem;
  padding: clamp(1.5rem, 1.3142857143rem + 0.7619047619vw, 2rem);
}
.combo__popular-label {
  margin-bottom: auto;
}
@media (width > 47.99875rem) {
  .combo__popular-label {
    margin-left: auto;
  }
}
.combo__popular-info {
  display: flex;
  align-items: end;
  justify-content: space-between;
  column-gap: 1.5rem;
}
.combo__popular-button {
  flex-shrink: 0;
}

.materials {
  display: grid;
  padding: clamp(0.25rem, -0.0285714286rem + 1.1428571429vw, 1rem);
  background-color: var(--color-white);
  border-radius: 1.5rem;
}
@media (width > 63.99875rem) {
  .materials {
    grid-template-columns: 63.75% 1fr;
  }
}
.materials__image {
  border-radius: 1rem;
  object-fit: cover;
}
@media (width <= 63.99875rem) {
  .materials__image {
    width: 100%;
    max-height: 25rem;
  }
}
.materials__body {
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 1rem;
  height: 100%;
  padding: clamp(1.25rem, 0.9714285714rem + 1.1428571429vw, 2rem);
}
.materials__title {
  max-width: 18.75rem;
  line-height: 1.5;
}
.materials__info {
  display: flex;
  align-items: end;
  column-gap: 2.125rem;
  margin-top: auto;
}
@media (width <= 63.99875rem) {
  .materials__info {
    width: 100%;
    justify-content: space-between;
    margin-top: 4rem;
  }
}
.materials__logo-image {
  min-width: 0;
}
.materials__button {
  flex-shrink: 0;
}

.all-reviews {
  position: relative;
}
@media (width > 76.31125rem) {
  .all-reviews::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 20rem;
    background: linear-gradient(180deg, rgba(245, 245, 245, 0) 0%, #f5f5f5 100%);
  }
}
.all-reviews__items {
  display: flex;
}
@media (width > 76.31125rem) {
  .all-reviews__items {
    flex-direction: column;
    row-gap: 1rem;
  }
}
@media (width <= 76.31125rem) {
  .all-reviews__items {
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none;
    overflow-x: -moz-scrollbars-none;
    column-gap: 1rem;
    margin-right: calc(var(--container-padding-x) * -1);
    padding-right: var(--container-padding-x);
  }
  .all-reviews__items::-webkit-scrollbar {
    height: 0;
  }
}
@media (width > 76.31125rem) {
  .all-reviews__items-row {
    display: grid;
    align-items: stretch;
    column-gap: 1rem;
  }
  .all-reviews__items-row:nth-child(3n+1) {
    grid-template-columns: repeat(3, 1fr);
    height: 35rem;
  }
  .all-reviews__items-row:nth-child(3n+2) {
    grid-template-columns: repeat(2, 1fr);
  }
  .all-reviews__items-row:nth-child(3n+3) {
    display: grid;
    grid-template-columns: 66.25% 1fr;
    gap: 1rem;
  }
  .all-reviews__items-row:nth-child(3n+3) > .all-reviews__review:nth-child(2) {
    grid-row: 1/3;
    grid-column: 2/3;
  }
}
@media (width <= 76.31125rem) {
  .all-reviews__items-row {
    display: contents;
  }
}
@media (width <= 76.31125rem) {
  .all-reviews__review, .all-reviews__card {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 25rem;
    min-height: 20rem;
  }
}
@media (width <= 30.06125rem) {
  .all-reviews__review, .all-reviews__card {
    width: 20rem;
  }
}
@media (width <= 76.31125rem) {
  .all-reviews__card {
    order: -1;
  }
}

.promo {
  position: relative;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: clamp(3.5rem, 2.7107142857rem + 3.2380952381vw, 5.625rem);
  padding: 5rem clamp(1.125rem, 0.6142857143rem + 2.0952380952vw, 2.5rem);
  background-color: var(--color-blue-bg);
  border-radius: clamp(1.5rem, 1.3142857143rem + 0.7619047619vw, 2rem);
}
.promo::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  min-width: 61.8125rem;
  height: 100%;
  background-image: image-set(var(--bgUrl) 1x, var(--bgUrl2x) 2x);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  pointer-events: none;
}
@media (width <= 63.99875rem) {
  .promo::before {
    left: -3.125rem;
  }
}
@media (width <= 47.99875rem) {
  .promo::before {
    left: -7.5rem;
  }
}
@media (width <= 30.06125rem) {
  .promo::before {
    left: -8.75rem;
    min-width: 43.75rem;
  }
}
.promo__body {
  width: 100%;
}
.promo__body--align-center {
  text-align: center;
}
.promo__title {
  margin-bottom: 2rem;
}
@media (width <= 63.99875rem) {
  .promo__title {
    line-height: 1.5;
  }
}
.promo__title > strong {
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-skip-ink: none;
  text-decoration-color: rgba(29, 158, 233, 0.64);
  text-decoration-thickness: 4%;
  text-underline-offset: 30%;
}
.promo__button {
  margin-inline: auto;
  margin-block: 2.5rem 2rem;
}
.promo__description {
  font-size: 1.5rem;
  color: var(--color-accent);
}
.promo__subtitle {
  font-family: var(--font-family-base);
  font-weight: 500;
  margin-bottom: clamp(1.5rem, 1.3142857143rem + 0.7619047619vw, 2rem);
}
.promo__advantages {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
}

.need-topper__row-1 {
  display: grid;
  grid-template-columns: 66% auto;
  column-gap: 1rem;
  min-height: 38.5rem;
}
@media (width <= 47.99875rem) {
  .need-topper__row-1 {
    grid-template-columns: 1fr;
    min-height: 30rem;
  }
}
.need-topper__row-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
  min-height: 20rem;
}
@media (width <= 47.99875rem) {
  .need-topper__row-2 {
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none;
    overflow-x: -moz-scrollbars-none;
    display: flex;
    align-items: stretch;
    margin-right: calc(var(--container-padding-x) * -1);
    padding-right: var(--container-padding-x);
  }
  .need-topper__row-2::-webkit-scrollbar {
    height: 0;
  }
}
.need-topper__info-pain-card, .need-topper__info-sleep-card, .need-topper__reaction-card {
  scroll-snap-align: start;
}
@media (width <= 47.99875rem) {
  .need-topper__info-pain-card, .need-topper__info-sleep-card, .need-topper__reaction-card {
    min-width: 25rem;
  }
}
@media (width <= 30.06125rem) {
  .need-topper__info-pain-card, .need-topper__info-sleep-card, .need-topper__reaction-card {
    min-width: 20rem;
  }
}
.need-topper__info-pain-card {
  background-color: var(--color-black);
  background-image: url(./../images/when-need-topper/circle-decor-bg.svg);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 10.25rem;
  color: var(--color-white);
}
.need-topper__info-sleep-card {
  border: 4px dashed rgba(24, 28, 37, 0.32) !important;
  border-spacing: 2px;
}
.need-topper__row-3 {
  display: grid;
  grid-template-columns: auto 66%;
  column-gap: 1rem;
  min-height: 38.5rem;
}
@media (width <= 47.99875rem) {
  .need-topper__row-3 {
    grid-template-columns: 1fr;
    min-height: 30rem;
  }
}
.need-topper__reaction-card {
  background-color: var(--color-white);
  background-repeat: no-repeat;
}
.need-topper__reaction-card--uncomfortable {
  background-image: url("./../images/when-need-topper/reaction-decor-bg-1.svg");
  background-size: 100% 11.6875rem;
  background-position: center bottom;
  background-size: auto;
}
@media (width <= 30.06125rem) {
  .need-topper__reaction-card--uncomfortable {
    background-position: center bottom -0.625rem;
  }
}
.need-topper__reaction-card--sweating {
  background-image: url("./../images/when-need-topper/reaction-decor-bg-2.svg");
  background-size: 100% 37.5rem;
  background-position: left top -5.1875rem;
  background-size: auto;
}
@media (width <= 63.99875rem) {
  .need-topper__reaction-card--sweating {
    background-position: left top -15.9375rem;
  }
}
@media (width <= 30.06125rem) {
  .need-topper__reaction-card--sweating {
    background-position: left -6.25rem top -15.9375rem;
  }
}
.need-topper__row-5 {
  border: var(--border);
}

.got-questions__list {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}/*# sourceMappingURL=main.css.map */